extends layout
block content
    div.row
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/ironman.png' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Iron Man
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-XXXXXXXXXX
                        li
                            i.fa-li.fa.fa-envelope-square
                            | contact1@cognizant.com
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/blackwidow.jfif' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Black Widow
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-XXXXXXXXXX
                        li(style='white-space: normal; float: left; width: 100%; height: auto; word-wrap: break-word;')
                            i.fa-li.fa.fa-envelope-square
                            | contact2@ibm.com
                        br
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/hulk.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Hulk
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-XXXXXXXXXX
                        li
                            i.fa-li.fa.fa-envelope-square
                            | contact3@infosys.com
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/wanda.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Wanda
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +1-XXX-XXX-XXXX
                        li
                            i.fa-li.fa.fa-envelope-square
                            | contact4@adp.com
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/captainamerica.jfif' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Captain America
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-XXXXXXXXXX
                        li(style='white-space: normal; float: left; width: 100%; height: auto; word-wrap: break-word;')
                            i.fa-li.fa.fa-envelope-square
                            | contact5@gmail.com
                        br
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/thor.jfif' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Thor
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-XXXXXXXXXX
                        li(style='white-space: normal; float: left; width: 100%; height: auto; word-wrap: break-word;')
                            i.fa-li.fa.fa-envelope-square
                            | contact6@yahoo.com
                        br
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/hawkeye.jfif' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 HawkEye
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-XXXXXXXXXX
                        li
                            i.fa-li.fa.fa-envelope-square
                            | contact7@microsoft.com
